@import "reset.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#visualizer {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.element {
  margin-left: 1px;
  width: 20px;
}

.blue {
  background-color: #646cff;
}

.green {
  background-color: greenyellow;
}

.red {
  background-color: red;
}