@import "reset.css";

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif, Arial;
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

#toolbar {
  display: flex;
  flex-direction: column;
  width: 175px;
}

.form-group {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding: 5px 10px;
  border: 0px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.form-group-header {
  font-weight: bold;
  font-size: 18px;
}

.form-group input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.form-group label,
.form-group button {
  display: inline-block;
  padding: 5px 10px;
  border: 0px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.form-group button {
  background-color: aqua;
}

.form-group input[type="radio"]:checked+label {
  background-color: #bfb;
}

.form-group label:hover,
.form-group button:hover {
  background-color: #dfd;
}

.form-group button:active {
  background-color: rgb(255, 0, 212);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#visualizer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 300px;
}

.array-element {
  margin-left: 0.5px;
  margin-right: 0.5px;
  width: 100%;
  border-radius: 5px;
}

.standard {
  background-color: #646cff;
}

.finished {
  background-color: greenyellow;
}

.highlighted {
  background-color: red;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}